:root{
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #dd6a1d;
    --secondary-color-hover: #1ee661;
    --light-color: #f4f4f4;
    --main: rgb(52, 73, 94);
}

html,
body > *{
    font-family: 'Open Sans', sans-serif;
/* font-family: Arial, Helvetica, sans-serif; */
font-size: 16px;
font-weight: 300;
text-rendering: optimizeLegibility;
background-color: var(--light-color);
line-height: 145%;
color:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.header-3{
    text-align: center;
}

.clearfix{

}


a{
    text-decoration: none;
    color: #fff;
}
/* ------header ----------*/
header,footer{
    background-color: var(--primary-color-hover);
}

header{
    height: 80px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    flex-direction: row;
    
}

h2{
    text-align: center;
    justify-items: center;
    padding: 10px;
    color: var(--light-color);
}

/* container */
.container{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: black;
}

.cal_container{
    border: 2px solid var(--primary-color);
    height: 250px;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

.cal_container,
.cal_inner_one {

}

.cal_one_top{
    margin-top: 5px;
}

/* left size  */
.cal_inner_one{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    /* color: var(--main); */
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ;
}

.cal_two_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 10px; */
    font-weight: bold;
}

.cal_row_one,
.cal_row_three{
    width: 20%;
    font-weight: bold;
}

.cal_row_two{
    width: 70%;
    position: relative;
}

.cal_row_three{
    
}

.cal{
    margin-bottom: 15px;
    text-align: center;
}

.range{
    width: 100%;
}

.cal_row{
    width: 50%;
    align-items: center;
    text-align: center; 
}

.cal_three_top{
    display: flex;
    flex-direction: row;
}
p span{
    display: block;
    font-weight: bold;
}




button{
    width: 120px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    background: #059133;
    color: var(--light-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover{
    background: var(--primary-color);
}

/* right size  */
.cal_inner_two{
    /* border: 2px solid red; */
    height: 100%;
    width: 30%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.monthlyPayment{
    font-size: 45px;
   margin-top: 30px;
    display: block;
}

.cal_inner_two h3{
    font-size: 25px;
}


/* footer */
footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
   text-align: center;
   padding: 10px;
}

/* range */


.range{
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--light-color);
    overflow: hidden;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid var(--primary-color);
}

::-moz-range-track {
    height: 70px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 70px;
    width: 20px;
    border: 2px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw var(--primary-color);
    box-sizing: border-box;
}


::-webkit-slider-runnable-track{
    background-color: var(--light-color);
}

::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 70px;
    background: var(--light-color);
    box-shadow: -100vw 0 0 100vw var(--primary-color);
    border: 2px solid #999; /* 1 */

}

::-ms-fill-lower{
    background: var(--primary-color);
}


.rangeValue::-webkit-slider-thumb{

}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

#monthly{
    font-weight: bold;
    padding: 3px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* range values */
.rangeValue{
    background: var(--primary-color);
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border: 3px solid #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
  .rangeValue::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: #00a98f;
    top: -1px;
    left: 50%;
  }