:root{
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #dd6a1d;
    --secondary-color-hover: #1ee661;
    --light-color: #f4f4f4;
}

html,
body > *{
   
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 300;
text-rendering: optimizeLegibility;
background-color: #fff;
line-height: 145%;
color:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.header-3{
    text-align: center;
}

.clearfix{

}


a{
    text-decoration: none;
    color: #fff;
}
/* ------header ----------*/
header,footer{
    background-color: #0d35b6;
}

header{
    height: 80px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    flex-direction: row;
    
}

h2{
    text-align: center;
    justify-items: center;
    padding: 10px;
    color: var(--light-color);
}

/* container */
.container{
    width: 100vw;
    height: 70vh;
    border: 2px solid rgb(181, 216, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.cal_container{
    border: 2px solid red;
    height: 250px;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
}

.cal_inner_one{
    width: 70%;
    height: 100%;
    border: 2px solid red;
}

.cal_inner_two{
    border: 2px solid red;
    height: 100%;
    width: 30%;
}




/* footer */
footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
   text-align: center;
   padding: 10px;
}